{{ if .enable }}
<section class="home-about">
    <div class="container">
        <div class="home-about__content">
            <div class="home-about__image-wrap">
                {{- if fileExists (add `assets/` (printf "%s" .image)) -}}
                    {{- $img:= resources.Get  (printf "%s" .image) -}}
                    {{- $img_destop:= $img.Resize "webp 670x" -}}
                    {{- $img_mobile:= $img.Resize "webp 335x" -}}
                    <picture>
                        <source media="(max-width: 575px)" srcset="{{$img_mobile.Permalink}}">
                        <img class="home-about__image" src="{{$img_destop.Permalink}}" alt="{{.image_description}}">
                    </picture>
                {{- end -}}
            </div>
            <div class="home-about__text-wrap">
                <h3 class="home-about__title about__heading">{{.title | markdownify}}</h3>
                <div class="about__details">
                    {{.text | markdownify | emojify}}
                </div>
                
            </div>
        </div>
    </div>
</section>
{{ end }}
