.services-hero {
  position: relative;
  &__content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    z-index: 100;
  }
  &__title {
    color: $white;
    font-size: 24px;
    margin-top: 0;
    @include tablet {
      font-size: 32px;
    }
  }
  &__bg-layer {
    background: rgba(#000000, 0.45);
    position: absolute;
    inset: 0;
    border-radius: 4px;
    z-index: 50;
  }
}
.services-hero__image {
  margin-bottom: 40px;
  border-radius: 4px;
  height: 0;
  position: relative;
  padding-top: 75%;
  @include tablet {
    padding-top: 50%;
  }
  img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
}
.services-hero.rtl-dir {
  .services-hero__content {
    right: 50px;
    left: auto;
  }
}
.clinics-sidebar.rtl-dir {
  .clinics-sidebar__item--active {
    @include tablet {
      border-left: 4px solid #056839;
      border-right: none;
    }
  }
}

/* new services page hero section design modification*/
.clinics-details__secondary {
  width: 100%;
  margin-left: 0;
}
