/*Landing page design start*/
.blog-cards {
  margin-bottom: 100px;
  @include tablet {
    margin-bottom: 75px;
  }
}
.blog-card {
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 8px 50px 0px #0568390d;
  margin-bottom: 20px;
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 30px;
  }
  &__image-wrapper {
    max-width: 511px;
    @include desktop {
      flex: 0 0 511px;
    }
  }
  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  &__heading {
    color: $green;
    font-size: 18px;
    text-decoration: none;
    @include desktop {
      font-size: 24px;
    }
    &:hover {
      color: $green;
    }
  }
  &__text {
    color: rgba($primary-text, 0.8);
    font-size: 14px;
    @include desktop {
      margin-bottom: 40px;
    }
  }
}
/* Landing page design end */

/* details page design start */
.blog-container {
  @include tablet {
    display: flex;
    align-items: flex-start;
    gap: 138px;
  }
}
.blog-content {
  margin-bottom: 100px;
  @include tablet {
    margin-bottom: 75px;
  }
}

.blog-heading {
  font-size: 24px;
  color: $green;
  text-align: center;
  margin-top: 0;
  @include tablet {
    font-size: 32px;
    margin-top: 50px;
  }
}

.blog-info {
  font-size: 12px;
  color: $primary-text;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @include tablet {
    font-size: 14px;
    margin-bottom: 40px;
  }
}

.blog-author {
  font-weight: 600;
}
.blog-dot-separator {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: rgba($primary-text, 0.8);
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.blog-hero-image-wrapper {
  margin-bottom: 35px;
  @include tablet {
    margin-bottom: 50px;
  }
}
.blog-hero-image {
  width: 100%;
}

.blog-main-content {
  p,
  a,
  li {
    font-size: 14px;
    color: rgba($primary-text, 0.8);
  }

  h2,
  h3,
  h4 {
    font-size: 18px;
    color: $primary-text;
    margin-top: 2rem;
  }
  h5,
  h6 {
    font-size: 16px;
    color: $primary-text;
    margin-top: 1.5rem;
  }

  a {
    color: rgba($green, 0.8);
    text-decoration: underline;
  }
  ul {
    list-style: none;
    padding-left: 1em;
  }
  ol {
    padding-left: 1em;
    margin-bottom: 60px;
  }
  li {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  ul > li::before {
    content: "\25CF";
    color: #7fbc03;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
.arabic .blog-main-content {
  margin-left: 0;
  margin-right: auto;
  ul li::before {
    margin-left: 0;
  }
}

.privacy-container{
  padding-top: 2rem;
  padding-bottom: 5rem;
}