{{ if .enable }}
<style>
    @media all and (min-width: 767px) {
        .home-services::before{
            /* background-image: url('{{.image}}'); */
            /* background-color: rgb(71, 106, 94); */
        }  
    } 
</style>
<section class="home-services">{{$image:= .image}}
    <div class="container">
        <h2 class="home-services__heading">{{.heading | markdownify}}</h2>
        <div class="home-services__content">
            <div class="swiper1">
                <div class="home-services__cards swiper-wrapper">
                    {{ $cards:= .slider }}
                    {{ range $cards }}
                    <div class="home-services__card swiper-slide">
                        {{ $items:= .cards }}
                        {{ range $items }}
                        <!-- <div class="home-services__card-item">
                            <div class="home-services__card-image-wrap">
                            {{- if fileExists (add `assets/` (printf "%s" .image)) -}}
                                {{- $img:= resources.Get  (printf "%s" .image) -}}
                                
                                <a href="{{.url }}"><img class="home-services__card-image" src="{{$img.Permalink}}" alt="{{.image_description}}"></a>
                            {{- end -}}
                            </div>
                            <div class="button-wrapper">
                                <a class="button button-desktop" href="{{.url }}">{{.button_label | markdownify}}</a>
                            </div>
                        </div> -->

                        <div class="review-card">
                            <div class="review-header">
                                <img loading="lazy" src="{{.image}}" alt="{{.image_description}}" class="review-avatar">
                                <div class="review-meta">
                                <h4 class="review-name">{{.name | markdownify}}</h4>
                                <div class="review-rating">
                                    ★★★★★ 
                                </div>
                                </div>
                            </div>

                            <p class="review-text">
                                {{.text | markdownify}}
                            </p>

                            <div class="review-footer">
                                <a href="{{.button_link}}" class="button button-desktop">{{.button_label}}</a>
                            </div>
                        </div>

                        {{ end }}
                    </div>

                    {{ end }}
                </div>
            </div>
             <div>
                        <img src="{{$image}}" alt="">
                    </div>
        </div>
        <div class="home-services__pagination">
            <div class="swiper-pagination1"></div>
        </div>
    </div>
</section>
{{ end }}
