.hero {
  background-image: url("/images/home-hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 470px;
  position: relative;
  @include tablet {
    min-height: 670px;
  }

  &__pagination {
    @include tablet {
      position: absolute !important;
      left: 45px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__heading {
    font-size: $h2-md;
    color: $white;
    font-weight: 500;
    margin: 0;
    @include tablet {
      font-size: $h1;
    }
  }

  &__schedule {
    font-size: $h4;
    font-weight: normal;
    color: $white;
    margin: 0;
    @include tablet {
      font-size: $h3;
    }
  }

  &__button {
    margin: 0;
  }

  &__slider {
    height: 470px;
    @include tablet {
      height: 670px;
    }
  }

  &__slider-wrapper {
    cursor: default;
  }

  &__slide-item {
    color: $white;
    font-size: 40px;
    display: flex;
    align-items: center;
  }

  &__slide {
    max-width: 650px;
    margin-top: 60px;
  }
}

.arabic .hero__pagination {
  right: 10px;
}

// swiper slider customize disign
.swiper-pagination-bullet {
  width: 16px !important;
  height: 3px !important;
  border-radius: 2px !important;
  background: $white !important;
  opacity: 1 !important;
  @include tablet {
    width: 24px !important;
    height: 2px !important;
    background: linear-gradient(
      to right,
      $white 50%,
      transparent 50%
    ) !important;
    transition: 0.4s !important;
  }
}

.arabic .swiper-pagination-bullet {
  background: linear-gradient(to right, transparent 50%, $white 50%) !important;
}

.swiper-pagination-bullet-active {
  background: $green !important;
  @include tablet {
    background: $white !important;
  }
}

.arabic .swiper-pagination-bullet-active {
  @include tablet {
    background: $white !important;
  }
}

// .arabic .hero__slide-item {
//   opacity: 1 !important;
// }

// colorful boxes design
.colorful-boxes {
  .container {
    padding-top: 45px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    @include tablet {
      padding-top: 90px;
      padding-bottom: 80px;
    }
  }

  &__content {
    @include tablet {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 100%;
      transform: translateY(50%);
      padding: 0 40px;
    }
  }

  &__cards {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__card {
    padding: 40px 36px;
    display: flex;
    flex-direction: column;
    @include tablet {
      grid-column: span 3;
      padding: 35px 30px 37px;
    }
    &--green-dark {
      background-color: #056136;
    }
    &--green-light {
      background-color: #05693a;
    }
  }

  &__button-wrap {
    margin-top: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 45px;
  }

  &__heading {
    font-size: $h4;
    font-weight: 500;
    color: $white;
    margin: 0;
  }

  &__text {
    font-size: 14px;
    font-weight: normal;
    color: $white;
    margin-top: 30px;
    margin-bottom: 35px;
    p{
      color: $white;
    }
  }
}

.home-about {
  padding: 35px 0;
  @include tablet {
    padding: 70px 0;
  }

  &__heading {
    font-size: $h3-md;
    color: $primary-text;
    font-weight: 600;
    @include tablet {
      font-size: 32px;
      margin-top: 0;
    }
  }

  &__content {
    @include tablet {
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
  }

  &__image-wrap {
    @include tablet {
      flex: 0 0 50%;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: $h4;
    font-weight: 500;
    color: $green;
  }

  &__button {
    margin-top: 35px;
  }

}

.home-about-alter {
  background-color: #f5f5f5;
    &__image-wrap {
      @include tablet {
        order: 2;
      }
  }
}

.home-services {
  margin-bottom: 35px;
  background-color: #f5f5f5;
  position: relative;
  padding: 35px 0;
  @include tablet {
    margin-bottom: 70px;
    padding: 45px 0 100px;
  }

  &::before {
    content: "";
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      right: 0;
      width: 50%;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // background-image: url(/images/home_services-green.webp);
      z-index: 10;
    }
  }

  &__heading {
    font-size: $h3-md;
    color: $primary-text;
    font-weight: 600;
    margin: 0;
    @include tablet {
      font-size: 32px;
    }
  }

  &__content {
    overflow: hidden;
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__cards {
    @include tablet {
      flex: 0 0 50%;
    }
  }

  &__image-wrap {
    @include tablet {
      flex: 0 0 50%;
    }
  }

  &__card {
    margin-top: 45px;
    margin-bottom: 45px;
    @include tablet {
      flex-shrink: inherit;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__card-item {
    margin-bottom: 50px;
    @include tablet {
      padding-right: 50px;
      grid-column: span 6;
      gap: 15px;
      margin-bottom: 0;
    }
  }

  &__card-image-wrap {
    display: table;
    margin: auto;
    margin-top: 15px;
    @include tablet {
      display: block;
      margin: inherit;
      margin-top: 15px;
    }
  }
  &__card-image{
    width: 100%;
  }

  &__text-wrap{
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }

  &__card-heading {
    font-size: $h5;
    font-weight: 500;
    color: $green;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }

  &__card-text {
    font-size: 12px;
    color: $primary-text;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }

  &__pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotateZ(360deg);
    @include tablet {
      left: 28%;
      transform: translateX(-28%) rotateZ(360deg);
      padding-top: 51px;
    }
    .swiper-pagination-bullet {
      width: 10px !important;
      height: 10px !important;
      border-radius: 50% !important;
      background: #d6d6d6 !important;
    }
    .swiper-pagination-bullet-active {
      background: $green !important;
    }
  }
}

.arabic .home-services::before {
  left: 0 !important;
  right: inherit !important;
}

.arabic .home-services__card-item {
  padding-right: 0 !important;
  padding-left: 45px !important;
}

.arabic .home-services__pagination {
  @include tablet {
    right: 15%;
    transform: translateX(-15%) rotateZ(360deg);
  }
}

.arabic .home-map__address-card--one {
  border-left: 1px solid #33a977;
}

.arabic .home-map__address-card--three {
  border-left: 1px solid #33a977;
}

.swiper1 {
  @include tablet {
    width: 50%;
  }
}
.home-map__address p{
  margin: 0;
}

.home-map__address p:last-child{
  margin-bottom: 10px;
}

.home-clinics {
  margin: 35px 0;
  background-color: $green;
  position: relative;
  overflow-x: hidden;
  @include tablet {
    margin: 70px 0;
    overflow-x: visible;
  }

  &::before {
    content: "";
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      right: 0;
      width: 50%;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      background-image: url(/images/home-clinics-bg.png);
      z-index: 1;
    }
  }

  &__content {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__text-wrap {
    padding: 50px 0;
    max-width: 360px;
    @include tablet {
      flex: 0 0 50%;
      padding: 105px 0;
    }
  }

  &__image-wrapper {
    height: 153px;
    width: 100%;
  }

  &__image-wrap {
    @include tablet {
      flex: 0 0 50%;
      position: absolute;
      width: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $white;
      padding: 105px 0;
    }
  }

  &__heading {
    font-size: $h3-md;
    color: $white;
    font-weight: 600;
    margin: 0;
    @include tablet {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 14px;
    color: $white;
    opacity: 0.8;
  }

  &__button {
    background-color: $white;
    color: $green !important;
    font-weight: 600 !important;
    margin-top: 25px;
  }

  &__slider {
    width: 80%;
    @include tablet {
      position: absolute;
      width: 130%;
      right: 0;
      top: 47px;
      background: transparent !important;
      overflow: hidden;
    }
    @media (min-width: 1600px) {
      width: 125%;
    }
    @media (min-width: 1870px) {
      width: 120%;
    }
  }

  &__cards {
    position: relative;
    z-index: 1000;
    @include tablet {
      position: absolute;
    }
  }

  &__card {
    height: 243px !important;
  }
}

.arabic .home-clinics__content {
  justify-content: flex-end;
}

.swiper-button-next,
.swiper-button-prev {
  top: 80% !important;
  color: $white !important;
  height: 24px !important;
  width: 12px !important;
}

.swiper-button-prev {
  left: -190px !important;
}

.swiper-button-next {
  left: -95px !important;
  right: inherit !important;
}

.covid {
  padding: 70px 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include tablet {
    min-height: 650px;
    padding: 0;
  }

  &__content {
    width: 100%;
    @include tablet {
      min-height: 650px;
      display: flex;
      align-items: center;
    }
  }

  &__text-wrap {
    @include tablet {
      flex: 0 0 49%;
    }
  }

  &__bg-image {
    @include tablet {
      min-height: 650px;
      background-image: url(/images/covid-icon.webp);
      flex: 0 0 49%;
    }
  }

  &__text {
    color: $white;
    @include tablet {
      max-width: 486px;
      width: 100%;
    }
    p{
      color: $white;
    }
  }

  &__button {
    margin-top: 50px;
  }
}

.meet-doctors {
  padding: 35px 0;
  @include tablet {
    padding: 70px 0;
  }

  &__heading {
    font-size: 26px;
    margin-bottom: 35px;
    text-align: center;
    @include tablet {
      font-size: 32px;
      margin-bottom: 70px;
    }
  }

  &__button {
    display: table;
    margin: 35px auto 0 auto;
    @include tablet {
      margin: 55px auto 0 auto;
    }
  }
}

.home-map {
  overflow: hidden;
  @include tablet {
    display: flex;
    justify-content: space-between;
    
  }

  #map-infowindow{
    padding: 8px;
    max-width: 200px;
    color: $green;
    a{
      color: #03bc0c;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__frame-wrap {
    margin: -2px 0 0 -2px;
    height: 300px;
    @include tablet {
      flex: 0 0 50%;
      height: inherit;
      
    }
  }

  &__frame {
    width: 100%;
    height: 100%;
  }

  &__details {
    cursor: pointer;
    background-color: $green;
    @include tablet {
      flex: 0 0 50%;
    }
  }

  &__address-cards {
    @include tablet {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__address-card {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    border-bottom: 1px solid #33a977;
    @include tablet {
      grid-column: span 12;
      padding: 62px 42px;
      border: 1px solid #33a977;
    }

    &:last-child {
      border-bottom: none;
    }

    // &:first-child{
    //     @include tablet {
    //       grid-column: span 12;
    //       border-bottom: none;
    //       border-left: none;
    //   }
    // }
  }

  &__address-heading {
    display: inline-block;
    text-align: center;
    color: $white;
    font-weight: 500;
    font-size: $h4;
    margin: 0 auto;
  }

  &__address {
    text-align: center;
    color: $white;
    font-size: 12px;
    font-style: normal;
    margin-top: 12px;
    max-width: 276px;
    margin-left: auto;
    margin-right: auto;
    &--long{
      max-width: 325px;
    }
  }
  &__telephone{
    max-width: 325px;
    margin: auto;
    text-align: center;
    color: beige;
    direction: ltr;
    span{
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: beige;
      border-radius: 50%;
      margin-bottom: 2px;
      margin-left: 2px;
      margin-right: 2px;
    }
    a{
      color: inherit;
      &:hover,
      &:active{
        color: #fff;
      }
    }
  }
  &__hours{
    color: #fff;
  }
  &__tel{
    display: inline-block;
    text-align: center;
    color: #fff;
    &:hover,
    &:active{
      color: #fff;
    }
  }
}

.googlemap-linkup{
  color: blueviolet !important;
  font-size: 14px !important;
}

.successfull-container {
  min-height: calc(100vh - 504px);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.successfull-message {
  color: rgba($green, 1);
  font-size: 24px;
  text-align: center;
  @include tablet {
    font-size: 40px;
  }
}
.back-to-home {
  display: inline-block;
  text-align: center;
}

.swiper-wrapper{
  cursor: default;
}

.hero {
    position: relative;
    background-image: url(/images/home-hero-bg-1.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    min-height: 470px;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);   /* backdrop color */
    backdrop-filter: blur(6px);        /* optional blur */
    z-index: 1;
}

.hero > * {
    position: relative;
    z-index: 2;  /* keep content above overlay */
}

.button-wrapper{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}